



    .a-wrapper{

position: relative;
}
.a-container{
justify-content: space-between;
display: flex;
align-items: flex-start;
padding-block: 5rem;
}
.a-left{

width: 50%;


}


.a-img{

width: 100%;
object-fit: cover;
}
.a-right{
width: 50%;

padding-left: 3rem;

}
.a-title{
    position: relative;
   padding-block: .5rem ;

   }



.a-title::after{
content: "";
height: 2px;
width: 50%;
background-color: var(--blue);
position: absolute;
bottom: -15%;
left:0 ;
}

.a-right .a-par{
width: 100%;
padding-block: 2rem 1rem;
}

@media (max-width: 944px) {
.a-container{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.a-left{
    width: 90%;
}

    
}










